.bioContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  position: relative;
  margin-bottom: 0.25rem;
  width: 100%;
}
.bio-signal-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 8px 0;
  font-size: 1rem;
  background: #fff;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
}
.divider {
  color: #888;
  font-weight: bold;
  margin: 0 10px;
}
